html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
  font-family: "Michroma", sans-serif;
  background: #0A0E1A;
  color: #AABBCD;
  width: 80vw;
  margin: auto;
}

h1 {
  color: #F1F1F1;
}